.topNavBar #nav{
    background-color: #171A21;
    color: white;
  }
  
  .topNavBar nav li a.nav-link {
    color: white;
  }
  .topNavBar nav li a.nav-link:hover {
    color: red;
  }
  
  .topNavBar .dropbtn {
    border: none;
    background-color: #171A21;
  }
  
  
  .topNavBar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #171A21;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .topNavBar .dropdown-content a {
    
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .topNavBar .dropdown-content a:hover {background-color: whitesmoke;color: black;}
  
  .topNavBar .dropdown:hover .dropdown-content {display: block;}
  
  .topNavBar .dropdown:hover .dropbtn {background-color: #3e8e41;}